
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sunflower:wght@500&family=Work+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow: overlay;
}

main {
    display: block;
}

#landing {
    min-height: 100%;
    background: linear-gradient(111.7deg, #a529b9 19.9%, rgb(80, 177, 225) 95%);
}

.gradient-bg {
    background: linear-gradient(111.7deg, #a529b9 19.9%, #50b1e1 95%);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav-item a {
    position: relative;
    text-decoration: none;
}

.nav-item a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #fbfeff;
    bottom: 0;
    left: 0;
    transform-origin: middle;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-item a:visited {
    color: white;
    text-shadow: 5px 3px 10px rgba(0, 0, 0, 0.7);
}

.nav-item a:link {
    color: white;
    text-shadow: 5px 3px 10px rgba(0, 0, 0, 0.7);
}

.nav-link a:hover {
    color: #000000;
}

.nav-item a:hover::before {
    transform-origin: middle;
    transform: scaleX(1);
    text-decoration: none;
    color: rgba(0, 0, 0, 0.633) !important;
}

.navbar:hover {
    color: #000000;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.3px);
    -webkit-backdrop-filter: blur(16.3px);
}

.full-screen {
    min-height: 100vh;
}

.justify-content-center {
    justify-content: center !important;
}

div {
    display: block;
}

h5 {
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.text-center {
    text-align: center !important;
}

.font-alt {
    font-family: 'Sunflower', sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: white;
    margin: 0 0 20px;
}

.home-text-center {
    margin-top: 1rem;
}

.home-text {
    max-width: 100%;
    font-weight: 400;
    font-size: 18px;
    padding: 0 0 35px;
    color: #fff;
    margin: 0;
}

.home-text-center .m-btn {
    min-width: 160px;
    margin: 8px;
}

.m-btn-white {
    color: #151515;
    background-color: #fff;
}

.m-btn {
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    display: inline-block;
    text-decoration: none !important;
}

/****************** END OF LANDING  ***************************/

/******************START OF ABOUT SECTION *********************/

.about-left h2 {
    font-size: 34px;
    font-weight: 600;
    color: #111;
    margin: 10px 0 15px;
    line-height: 1.5;
}

.about-left p {
    font-size: 18px;
    margin: 15px 0 15px;

    font-weight: 400;
    line-height: 30px;
}

.about-left .m-btn-link {
    font-size: 14px;
    font-weight: 600;
}

.m-btn-link {
    color: rgb(0, 0, 0) !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    text-decoration: none !important;
    transition: ease all 0.3s;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.m-btn-link:before {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: #444;
    transition: ease all 0.3s;
}

.m-btn-link:after {
    content: "";
    width: 0;
    height: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    transition: ease all 0.3s;
}

::after,
::before {
    box-sizing: border-box;
}

.theme-after::after {
    background: linear-gradient(111.7deg, rgb(165, 41, 185) 19.9%, rgb(80, 177, 225) 95%);
}

.about-left .m-btn {
    margin-top: 20px;
    margin-bottom: 20px;

    background: linear-gradient(111.7deg, rgb(165, 41, 185) 19.9%, rgb(80, 177, 225) 95%);
}

.m-btn-theme {
    color: #fff;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.theme-after {
    background-image: linear-gradient(to right,
            #8c38fe,
            #9c66e5,
            #b72ee4 50%,
            rgb(39, 23, 44) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.theme-after p {
    font-family: 'Work Sans', sans-serif;
}

.theme-after:before {
    content: '';
    background-image: linear-gradient(60deg, #8c38fe 10%, #b72ee4 50%, #9c66e5 100%);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.theme-after:hover {
    background-position: 0;
}

.theme-after:hover::before {
    width: 100%;
}

a:hover {
    color: #111;
}

/************ BUTTON ***************/

.btn-gradient {
    background: #feffff !important;
    color: rgb(0, 0, 0);
    border-radius: 45px;
    padding: 15px 40px;
    margin: 5px;
    box-shadow: 0 6px 30px -10px #4a74c9;
    transition: all 0.5s ease;
    border: 0;
    font-size: small;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-gradient:hover {
    background-image: linear-gradient(60deg, #8c38fe 10%, #b72ee4 50%, #9c66e5 100%);
    border: none;
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    transform: scale(0.930);
}

.gradient3 {
    background-image: linear-gradient(60deg, #8c38fe 10%, #b72ee4 50%, #9c66e5 100%);
    box-shadow: 0 2px 25px 0 rgba(111, 30, 138, .35);
}

.mywrkbtn {
    padding: 15px 50px;
}

.gradient3:hover {
    background-image: linear-gradient(60deg, #8c38fe 10%, #b72ee4 50%, #9c66e5 100%) !important;
    color: white;
    border: none;
    box-shadow: 0 10px 30px #8c38fe, 0 3px 0 0 #9c66e5;
    transform: translateY(-3px);
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(60deg, #8c38fe 10%, #b72ee4 50%, #9c66e5 100%);
    border-radius: 500px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(60deg, #8c38fe 10%, #b72ee4 50%, #9c66e5 100%);
  }


/***********SKILLS SECTION*****************/

.skills-section {
    padding-bottom: 1rem;
    padding-top: 4rem;
}

#skill-bars {
    width: 90%;
}

.bg-dark {
    padding: 5px 10px;
}

.skill-progress-bar {
    border-radius: 2rem;
    font-weight: bolder;
}

.progress {
    background-image: linear-gradient(60deg, #f138fe 10%, #b72ee4 50%, #5205b6 100%) !important;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

.skill-progress {
    font-weight: bolder;
    background-image: linear-gradient(60deg, #8c38fe 10%, #b72ee4 50%, #5300bf 100%) !important;
    border-radius: 2rem;
}

i::before {
    box-sizing: border-box;
}

div.card-content {
    background: #f5f5f5;
    height: 300px;
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 2em;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    border-radius: 10px;
    background: linear-gradient(145deg, #dddddd, #FFFFFF);
    box-shadow: 10px 10px 10px #dddddd,
        -10px -10px 10px #ffffff;
}

div.card-content h3 {
    margin-bottom: 0.5em;
    font-weight: normal;
    text-align: center;
}

div.card-content p {
    font-size: 95%;
    padding: 1rem;
}

img.card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 1rem;
    border-radius: 100%;
    margin-bottom: 10px;
    height: auto;
    opacity: 0.8;
    transition: all 0.5s ease;
}

div .card-image:hover {
    text-decoration: none;
    background-color: #111;
    border: #feffff;
}

div .card-image:hover {
    opacity: 1.5;
    filter: contrast(100%);
}

/*************** END OF SKILLS **************************/

/************** START OF RESUME/timeline ***************/
#resume {
    color: rgb(0, 0, 0);
    padding-bottom: 3%;
    min-height: 100%;
}

#timeline-sec {
    margin-bottom: 1rem;
    height: 220px;
    background: rgba(0, 0, 0, 0.23);
    margin-top: 1rem;
    border-radius: 15px;
    background: linear-gradient(145deg, #E5E6E6, #FFFFFF);
    box-shadow: 10px 10px 10px #E5E6E6,
        -10px -10px 10px #FFFFFF;
    padding: 1rem;
    overflow: hidden;
}

.res-pic {
    padding-top: 1rem;
}

.resume-image {
    border-radius: 100%;
    padding: 1rem;
    margin-left: -15px;
    margin-right: 10px;
    margin-bottom: 20px;
    filter: grayscale(0%);
}

.resume-reponsive {
    display: flex;
    flex-direction: row;
}

.resume-image:hover {
    filter: grayscale(100%);
}

.end-side .resume-image {
    float: right;
    padding: 1rem;
    margin-left: 10px;
}

.resume-title {
    font-weight: 600;
}

/***************** END OF RESUME *************************/

/***************** START OF testimonials *************************/
#testimonials {
    background-color: white;
    color: black;
    min-height: 100%;
}


#testimonial-card {
    background-color: #111;
}

.testi-content2 {
    background-color: #111;
    background: #0c0b0b;
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 2em;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    border-radius: 10px;
    background: linear-gradient(145deg, #dddddd, #ffffff);
    box-shadow: 10px 10px 10px #dddddd,
        -10px -10px 10px #ffffff;

}

.testi-content2 img {
    border-radius: 10px !important;
}

div.testi-content2 h4 {
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
}

div.testi-content2 p {
    font-weight: 500;
    font-size: 100%;
    padding: 1rem;
    margin: 5px;
}

#test-card-1 {
    margin-bottom: 1rem;
    margin: 10px;
    height: 39rem;
}

#test-card-2 {
    margin-bottom: 1rem;
    margin: 10px;
    height: 39rem;
}

#test-card-3 {
    margin-bottom: 1rem;
    margin: 10px;
    height: 39rem;
}

#test-card-4 {
    margin-bottom: 1rem;
    margin: 10px;
    height: 39rem;
}

#test-card-5 {
    margin-bottom: 1rem;
    margin: 10px;
    height: 39rem;
}

#test-card-6 {
    margin-bottom: 1rem;
    margin: 10px;
    height: 39rem;
}
#testi-profiles img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 1rem;

}

/***************** END OF testimonials *************************/

/***************** START OF projects *************************/

#projects {
    background: linear-gradient(111.7deg, rgb(165, 41, 185) 19.9%, rgb(80, 177, 225) 95%);
    padding-bottom: 5%;
    padding-top: 3%;
    min-height: 100%;
}

.hover {
    position: absolute;
    width: 0rem;
    transition: 1s ease-in-out;
    height: 15.9rem;
    overflow: hidden;
    padding-top: 1rem;
    background-color: rgba(0, 0, 0, 0.37);
}
.hover-img {
    height: 255px;
}

.col:hover .hover {
    width: 5.5rem;
}

.col:hover .project-link {
    opacity: 1;

}

.col a img {
    border-radius: 25rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 1;
}

.col a:hover img {
    background-color: black;
    transition: ease-in-out 0.5s;

}

.hover .project-link {
    /* width: 35rem; */
    transition: ease-out 0.5s;
}


.card-title {
    color: rgb(0, 0, 0);
    padding: 2px;
    margin-top: 0px;
}


/***************** END OF projects *************************/
/***************** START OF contact *************************/

.contact-info-box {
    padding: 8%;
}


.contact-text {
    font-size: 40px;
    font-weight: 600;
    background: #A529B9;
    background: linear-gradient(to right, #A529B9 11%, #50B1E1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.contact-info-box h2 {
    text-transform: capitalize;
    margin: 0;
    padding: 0 0 15px;
    font-size: 20px;
    font-weight: 600;
    color: #151515;
}

.contact-info-box .desc {
    width: 350px;
    max-width: 100%;
    margin-bottom: 40px;
}

.contact-info-box .contact-info {
    position: relative;
    padding-left: 50px;
    padding-bottom: 20px;
}

.contact-info-box .contact-info .icon {
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    top: 0;
    line-height: 35px;
    left: 0;
    font-size: 17px;
}

.contact-info-box .contact-info p {
    margin: 0;
    line-height: 2.5rem;
    font-size: 17px;
}

.contact-info-box .social-icons {
    margin: 0;
    padding: 0 0px 0 40px;
}

.contact-info-box .social-icons li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
}

.contact-info-box .social-icons li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #333;
    border-radius: 50%;
}

.contact-info-box .social-icons li a:hover {
    background: #333;
    color: #fff;
}

.contact-form {
    border-left: 1px solid #ddd;
    padding: 8%;
}

.contact-form h2 {
    text-transform: capitalize;
    margin: 0;
    padding: 0 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: #151515;
}

.contact-form .form-control {
    border-radius: 10px;
    font-size: 14px;
    height: 45px;
}

.contact-form textarea.form-control {
    height: 100px;
}

.form-control:focus {
    outline: 2px solid #a629b9c0;
    border: none;
    box-shadow: none;
}

/* SEND BUTTON FORM */
.send button {
    background-color: rgb(165, 41, 185);
}

.contact-us-box {
    margin: 0 5%;
    position: relative;
    background: #fff;
    box-shadow: 0px 1px 27px -3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.section-title p {
    font-size: 1.1rem;
}

/***************** END OF contact *************************/
/***************** START OF footer *************************/
#footer {
    /* height: 10vh; */
    background-color: #00000065;
    color: #fff;
}

.footer {
    margin: auto;
    width: fit-content;
    padding: 0.5rem;
}

/***************** END OF footer *************************/



@media all and (max-width:992px) {
    .resume-reponsive {
        flex-direction: column;
    }
    .res-pic {
        width: 120px;
    }
    #timeline-sec {
        height: 385px;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .resume-image {
        margin: auto;
        align-items: center;
        /* margin-left: 25px; */
    }
}
@media all and (max-width:760px) {
    .contact-form {
        border-top: 1px solid #ddd;
        border-left: none;
    }
    #timeline-sec {
        height: 462px;
    }
    #test-card-1 {
        height: 41rem;
    }
    
    #test-card-2 {
        height: 41rem;
    }
    
    #test-card-3 {
        height: 41rem;
    }
    
    #test-card-4 {
        height: 41rem;
    }
    
    #test-card-5 {
        height: 41rem;
    }
    
    #test-card-6 {
        height: 41rem;
    }
}

@media all and (max-width:567px) {
    .resume-image {
        width: 80%;
    }
    .hover {
        height: 16rem;;
    }
    #timeline-sec {
        height: 510px;
    }
    #test-card-1 {
        height: 40rem;
    }
    
    #test-card-2 {
        height: 40rem;
    }
    
    #test-card-3 {
        height: 40rem;
    }
    
    #test-card-4 {
        height: 40rem;
    }
    
    #test-card-5 {
        height: 40rem;
    }
    
    #test-card-6 {
        height: 40rem;
    }
}
/* Mobile Large */
@media all and (max-width:426px) {
    .about-pad{
        padding: 1.5rem;
    }
    #timeline-sec {
        height: 530px;
        text-align: center;
        font-size: 0.82rem;
    }
    .hover {
        height: 16rem;;
    }
    .contact-info-box .contact-info p {
        font-size: 15px;
    }  
}

/* Mobile Small */
@media all and (max-width:350px) {
    #timeline-sec {
        height: 550px;
    }
    .hover {
        height: 16rem;;
    }
}

