*{
    margin: 0px;
    padding: 0px;
}

#timeline-sec {
    background: rgba(0, 0, 0, 0.23);
    margin-top: 1rem;
    border-radius: 15px;
background: linear-gradient(145deg, #e5e6e6, #ffffff);
box-shadow:  10px 10px 10px #e5e6e6,
             -10px -10px 10px #ffffff;
}

.resume-image{
    width: 25%;
    float: left;
    border-radius: 100%;
    padding: 1rem;
    margin-left: -15px;
    margin-bottom: 20px;
    filter: grayscale(0%);
}

.resume-image:hover{
    filter: grayscale(100%);
}

.end-side .resume-image{
    float: right;
    padding: 2rem;
    width: 35%;

}
 











